<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT CATEGORY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.1.22/survey.jquery.js"></script>
    <link href="https://surveyjs.azureedge.net/1.1.22/modern.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <div id="surveyElement"></div>
    <div id="surveyResult"></div>
    <!-- jquery file from public/javascripts to run the survey-->
    <script type="text/javascript" src="/javascripts/Product_Home.js"></script>
  </body>
  </html>
